.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 4px;
    border: 2px solid grey;
    margin: 16px;
    color: pink;
    font-size: 24px;
}